body {
    background-color: rgb(255, 255, 255);
    font-family: Geneva, Tahoma, sans-serif;
    margin: 20px; 
}

h2{
    font-size: 40px;
    color:coral;
}

p{
    font-size: 15px;  
    color: black;
    text-decoration: none;
}

button {
    border: 1px solid coral; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    margin: 5px;
    background-color:coral;
    color: #ffffff; 
    font-weight: bold;
}

input{
    border: 1px solid coral; /*anchura, estilo y color borde*/
    padding: 8px; /*espacio alrededor texto*/
    margin: 5px;
    background-color:coral;
    background-color: white;
    font-weight: bold;
    border-radius: 2px;
}

.menu{
    background-color: coral;
    color: #ffffff; 
    /* top,right,bottom,left */
    padding: 4px 20px 4px 20px;

}

.libros{
    background-color:rgba(255, 255, 255);
    /* top,right,bottom,left */
    margin:25px 20px 20px 20px;
    padding: 40px 30px 40px 30px;
    width: 20%;
    text-align: center;
    box-shadow: 0px 0px 5px #ccc;
    float: left;
}

.fotos{
    width: 180px; 
}

.footer{
    text-align: center;
    padding: 10px;
}

#caja{
    /* top,right,bottom,left */
    margin:12px 10px 2px 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

#bloque{
    background-color: coral;
    color: coral;
    padding: 6px;
}
#login{
    color: black;
    float: right;
    /* top,right,bottom,left */
    padding: 4px 10px 4px 10px;
    font-weight: bold; 
}
#carro{
    width: 40px;
    float: right; 
    padding: 15px;
}
#info{
    width: 90%; 
    padding: 10px;
}
#licencia{
    width: 10%; 
    padding: 10px;
}


