body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New';
}

button {
    border: 1px solid coral; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    background-color:coral;
    color: #ffffff; 
    font-family: Geneva, Tahoma, sans-serif; 
}

img{
    width: 140px;
    /* top,right,bottom,left */
    padding: 20px 40px 20px 20px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 15px;  
}

.menu{
    background-color: coral;
    color: #ffffff; 
    font-size: 20px;
    /* top,right,bottom,left */
    padding: 5px 0px 5px 30px;
    margin: 20px 0px 10px 0px;
}
.libro{
    float: left; 
    /* top,right,bottom,left */
    padding: 0px 20px 0px 20px;
    margin: 0px 40px 0px 40px;
    overflow: auto;
    border-style: solid;
    border-color: lawngreen;
    border-width: 5px;
}
.resumen{
    /* top,right,bottom,left */
    padding: 0px 20px 40px 20px;
    margin: 0px 40px 0px 40px;
    border-style: solid;
    border-color:coral;
    border-width: 5px;
    overflow: auto; /*??????? */
}
.ficha{
    /* top,right,bottom,left */
    padding: 10px 0px 0px 0px;
    margin: 20px 40px 10px 40px;
    text-align: center;
    border-style: solid;
    border-color: coral;
    border-width: 5px;
}
.licencia{
    text-align: center;
}