body {
    background-color: rgb(255, 255, 255);
    /* font-family: 'Courier New'; */
    font-family: Geneva, Tahoma, sans-serif; 
}

button {
    border: 1px solid coral; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    margin: 5px;
    background-color:coral;
    color: #ffffff; 
    font-weight: bold;
}

img{
    width: 160px;
    /* top,right,bottom,left */
    padding: 20px 40px 20px 20px;
}

h3{
    font-size: 20px;
    font-weight: bold;
    /* top,right,bottom,left */
    padding: 20px 20px 0px 20px;
}

p{
    font-size: 15px;  
}

.menu{
    background-color: coral;
    color: #ffffff; 
    font-size: 20px;
    /* top,right,bottom,left */
    padding: 5px 0px 5px 30px;
    margin: 0px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 100%;
}

.libro{
    width: 25%;
    /* top,right,bottom,left */
    padding: 0px 20px 0px 20px;
    font-weight: bold;
    border-style: solid;
    border-color:coral;
    border-width: 5px;
}
.ficha{
    /* top,right,bottom,left */
    padding: 20px 20px 20px 30px;
    margin: 40px 40px 0px 40px;
    border-style: solid;
    border-color: coral;
    border-width: 5px;
}
.resumen{
    /* top,right,bottom,left */
    padding: 0px 20px 30px 30px;
    margin: 40px 40px 20px 40px;
    border-style: solid;
    border-color:coral;
    border-width: 5px;
}

#foto{
    width: 190px; 
}

.footer{
    text-align: center;
    padding: 10px;
}
#bloque{
    background-color: coral;
    color: coral;
}
#info{
    width: 90%; 
    padding: 10px;
}
#licencia{
    width: 10%; 
    padding: 10px;
}
