body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New';
}
button {
    border: 1px solid coral; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color:coral;
    color: #ffffff; /*color texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: Geneva, Tahoma, sans-serif; /*tipografía texto*/
}

img{
    width: 140px; 
}
h3{
    font-size: 30px;
}
p{
    /* text-align: right; */
    font-size: 15px;  
}
.menu{
    background-color: coral;
    color: #ffffff; 
    font-size: 20px;
    /* top,right,bottom,left */
    padding: 10px 2px 5px 0px;
    margin: 20px 0px 10px 0px;
    border-style: groove;
    border-color: lawngreen;
    border-width: 5px;
}
.titulo{
    font-size: 20px; 
}
.libros{
    background-color:rgba(255, 255, 255, 0.5); ;
    /* top,right,bottom,left */
    margin:15px 30px 15px 10px;
    padding: 10px 10px 5px 10px;
    float: left;  
    text-align: center;
    border-style: solid;
    border-color: lawngreen;
    border-width: 5px;
}
.cuerpo{
    overflow: auto;
    /* width: 50%; */
    border-style: solid;
    border-color: lawngreen;
    border-width: 5px;
}
.licencia{
    clear: left;
    border-style: solid;
    border-color: lawngreen;
    border-width: 5px;
}
