body {
    background-color: rgb(255, 255, 255);
    /* font-family: 'Courier New'; */
    font-family: Geneva, Tahoma, sans-serif; 
}

p{
    /* text-align: right; */
    font-size: 15px;  
    color: black;
    /* text-decoration: none; */
    text-decoration-line:inherit;
}

.menu{
    background-color: coral;
    color: #ffffff; 
    /* top,right,bottom,left */
    padding: 0px 20px 0px 40px;
    margin: 0px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 100%;

}

.libros{
    background-color:rgba(255, 255, 255);
    /* top,right,bottom,left */
    margin:80px 30px 15px 20px;
    padding: 20px 20px 5px 20px;
    text-align: center;
    border-style: solid;
    border-color: coral;
    border-width: 5px;
    
}
.fotos{
    width: 160px; 
}

.footer{
    text-align: center;
    padding: 10px;
}
#bloque{
    background-color: coral;
    color: coral;
}
#info{
    width: 90%; 
    padding: 10px;
}
#licencia{
    width: 10%; 
    padding: 10px;
}


